@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

html {
  min-height: 100vh;
  background: rgb(2, 14, 28);
  background: linear-gradient(
    38deg,
    rgba(2, 14, 28, 1) 0%,
    rgba(14, 28, 45, 1) 100%
  );
  background-size: cover;
}
